body{
    margin: 0%;
    padding: 0%;
    background-color: white;
    font-family: "Century Gothic", serif;
    /*overflow-x: hidden;*/
    max-width: 100%;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;

}
header div{
    width: 30%;
    margin: 0%;
    display: flex;
    align-items: center;
}
header img{
    width: 50%;
}

.mainLogo{
    /*background-color: red;*/

}


.mainHeader{
    font-size: 2vw;
    text-align: center;
    /*background-color: yellow;*/
    justify-content: center;
}

.mainHeader h1{
    margin: 0%;
    color: #0a496a;
}

.loginButton{
    /*background-color: green;*/
    align-items: center;
    justify-content: center;
}

header button{
    background-color: rgb(20, 81, 117);
    border-radius: 0.6vw;
    border: 0px;
    color: white;
    padding: 0.6vw 1vw 0.6vw 1vw;
    text-align: center;
    line-height: 1.2vw;
    font-size: 1em;
    overflow: hidden;
    margin: 1vw;
}


main{

    display: flex;
    justify-content: space-between;
    padding:7% 2% 0% 2%;
}

nav{
    width: 18%;
}

.wpisy{
    width: 54%;
}

aside{
    width: 18%;
}

.loginForm {
    margin-top: 100px;
    align-items: center;
    text-align: center;
    font-family: "Century Gothic", serif;
}

#welcomeUsername {
    font-weight: bold;
    color: #e5e2d6;
}

.buttonStyle {
    font-weight: bold;
    font-family: "Century Gothic", serif;
    background-color: #063044;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 18px;
    line-height: 2px;
}

.buttonStyle:hover {
    outline: 2px solid #031d2a;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4.7%;
}