body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: "Century Gothic", serif;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;

    justify-content: space-between;

}
header div{
    width: 30vw;
    margin: 0px;
    padding: 0px;
}
header img{
    width: 50%;
}

.mainLogo{
    padding: 1vw;
    background-color: #0a496a;
}


.mainHeader{
    font-size: 2vw;
    text-align: center;
    background-color: #0a496a;
    margin: 0px;
    padding: 0px;
}

.mainHeader h1{
    padding: 0px;
    margin: 0px;
    color: #e5e2d6;
}

.loginButton{
    background-color: #0a496a;
    align-content: end;
    display: flex;
    justify-content: end;
}

header button{
    width: auto;
    font-size: 1em;
    height: 4vh;
    overflow: hidden;
    margin: 1vw;

}

section{
    width: 80%;
    margin: 0 auto;
    background-color: mintcream;

}

section h2{
    margin: 1vw;
    background-color: #0d628d;
}

.loginForm {
    margin-top: 100px;
    align-items: center;
    text-align: center;
    font-family: "Century Gothic", serif;
}
