<!--///wcag ostatni wykład-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie notatki</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>

    <div class="mainLogo"><a href="/home/"> <img id="logo" src="logo.png"  alt=""/></a></div>

    <div class="mainHeader"><h1>Dodaj notatkę</h1></div>

    <div class="loginButton">
        <form method="GET" th:action="@{/logout}">
            <label style="color: #6d6b64" th:text="'Witaj '"> </label>
            <label id="welcomeUsername" th:text="${session.sessionUser}"></label>
            <button class="buttonStyle" type="submit">Wyloguj się</button>
        </form>
    </div>

</header>


<main>
    <div class="navDiv">
        <nav>
            <ul>
                <h2>Menu</h2>
                <form method="GET" th:action="@{/notes/}">
                    <button style="width: 150px;" class="buttonStyle">Twoje wpisy</button>
                </form>
                <button th:if="${session.role eq 1}"
                        class="buttonStyle"
                        onclick="location.href='/adminPanel/'"
                        type="button"
                        style="width: 150px">Zarządzanie<br> Użytkownikami
                </button>
            </ul>
        </nav>
    </div>

    <div class="wpisy">
        <div id="dodajWpis">
            <h2>Dodaj własny wpis</h2>
            <form action="GET" th:action="@{/addNoteForm}">
                <input class="inputStyle" type="text" id="title" name="title" placeholder="Podaj tytuł swojego wpisu" required><br>
                <textarea class="inputStyle" type="text" id="content" name="content" placeholder="Wpisz treść swojego wpisu" required></textarea><br>
                <select class="inputStyle" style="margin-left: 195px; margin-right: 195px;" name="category_id" id="category_id">
                    <option disabled selected >Kategoria</option>
                    <option th:each="category : ${categories}" 
                        th:text="${category.name}"
                        th:value="${category.id}"
                        th:selected="${category.id == 1}">
                    </option>
                </select><br>
                <input class="buttonStyle" type="submit" value="Dodaj Wpis">
            </form>
        </div>
    </div>
</main>

<footer>
    <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
</footer>

</body>
</html>