<!--///wcag ostatni wykład-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie wpisu</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png" alt="Strona glowna Notegoods"/></a></div>
        <div class="mainHeader"><h1>Dodaj wpis</h1></div>
        <div class="loginButton">
        <form method="POST" th:action="@{/logout}">
            <p style="color: #6d6b64; padding: 0vw 0.6vw 0vw 0vw;" th:text="'Witaj '"> </p>
            <h2 id="welcomeUsername" style="padding: 0px" th:text="${session.sessionUser}"></h2>
            <button class="buttonStyle" type="submit">Wyloguj się</button>
        </form>
        </div>
    </header>
    <main>
        <div class="navDiv">
            <nav>
                <ul>
                    <h2>Menu</h2>
                    <form method="GET" th:action="@{/notes/}" th:if="${session.role eq 2 or session.role eq 1}">
                        <button style="width: 150px" class="buttonStyle">Twoje wpisy</button>
                    </form>
                    <form method="GET" th:action="@{/sharedNotes/}">
                        <button style="width: 150px" class="buttonStyle">Udostępnione notatki</button>
                    </form>
                    <button th:if="${session.role eq 2 or session.role eq 1}" 
                            style="width: 150px" class="buttonStyle" 
                            onclick="location.href='/addNote'" 
                            type="button">Dodaj wpis
                    </button>
                    <button th:if="${session.role eq 1}"
                            class="buttonStyle"
                            onclick="location.href='/adminPanel/'"
                            type="button"
                            style="width: 150px">Zarządzanie użytkownikami
                    </button>
                    <button th:if="${session.role eq 2 or session.role eq 1}"
                            class="buttonStyle"
                            onclick="location.href='/home/'"
                            type="button"
                            style="width: 150px">Strona główna
                    </button>
                </ul>
            </nav>
        </div>
        <div class="wpisy">
            <div id="dodajWpis">
                <h2>Dodaj własny wpis</h2>
                <form action="GET" th:action="@{/addNoteForm}">
                    <input class="inputStyle" type="text" id="title" name="title" placeholder="Podaj tytuł swojego wpisu" required><br>
                    <textarea class="inputStyle" type="text" id="content" name="content" placeholder="Wpisz treść swojego wpisu" required></textarea><br>
                    <input class="inputStyle" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="remind_date" placeholder="Data przypomnienia" th:required="true"/></br>
                    <select class="inputStyle" name="category_id" id="category_id" th:required="true">
                        <option disabled selected>Kategoria</option>
                        <option th:each="category : ${categories}" 
                            th:text="${category.name}"
                            th:value="${category.id}">
                        </option>
                    </select>
                    <input class="buttonStyle" type="submit" value="Zapisz">
                </form>
            </div>
        </div>
        <div class="navDiv"></div>
    </main>
</body>
<footer>
    <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
</footer>
</html>