<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">

</head>
<header>
    <div class="mainLogo"><a href="/notes/"> <img id="logo" src="/logo.png"  alt="Strona glowna Notegoods"/></a></div>
    <div class="mainHeader"><h1>Użytkownicy</h1></div>
    <div class="loginButton">
    <form method="POST" th:action="@{/logout}">
        <p style="color: #6d6b64; padding: 0vw 0.6vw 0vw 0vw;" th:text="'Witaj '"> </p>
        <h2 id="welcomeUsername" style="padding: 0px" th:text="${session.sessionUser}"></h2>
        <button class="buttonStyle" type="submit">Wyloguj się</button>
    </form>
    </div>
</header>
<body>
    <main>
        <div class="navDiv">
            <nav>
                <ul>
                    <h2>Menu</h2>
                    <button th:if="${session.role eq 1}"
                            class="buttonStyle"
                            onclick="location.href='/home/'"
                            type="button"
                            style="width: 150px">Strona<br> główna
                    </button>
                </ul>
            </nav>
        </div>
        <table style="margin-left:auto; margin-right:auto;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nazwa</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <form method="GET" th:action="@{/editUser/{email}(email=${user.email})}">
                            <button class="buttonStyle" style="padding: 1.5px; flex-direction: row; display: flex; margin-bottom: 10px">✒️</button>  
                        </form>  
                        <form method="GET" th:action="@{/userDelete/{id}(id=${user.id})}">
                            <button class="buttonStyle" style="padding: 1.5px; flex-direction: row; display: flex" type="submit">❌</button> 
                        </form>  
                    </td> 
                </tr>
            </tbody>
        </table>
        <div class="navDiv">
            <aside>
            </aside>
        </div>
    </main>
    <footer>
        <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
    </footer>
</body>

</html>