<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja notatki</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <header>
        <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png"  alt="Strona glowna Notegoods"/></a></div>
        <div class="mainHeader"><h1>Edycja notatki</h1></div>
        <div class="loginButton">
        <form method="POST" th:action="@{/logout}">
            <p style="color: #6d6b64; padding: 0vw 0.6vw 0vw 0vw;" th:text="'Witaj '"> </p>
            <h2 id="welcomeUsername" style="padding: 0px" th:text="${session.sessionUser}"></h2>
            <button class="buttonStyle" type="submit">Wyloguj się</button>
        </form>
        </div>   
    </header>
    <main>
        <div class="navDiv">
            <nav>
                <ul>
                    <h2>Menu</h2>
                    <form method="GET" th:action="@{/notes/}" th:if="${session.role eq 2 or session.role eq 1}">
                        <button style="width: 150px" class="buttonStyle">Twoje wpisy</button>
                    </form>
                    <form method="GET" th:action="@{/sharedNotes/}">
                        <button style="width: 150px" class="buttonStyle">Udostępnione notatki</button>
                    </form>
                    <button th:if="${session.role eq 2 or session.role eq 1}" 
                            style="width: 150px" 
                            class="buttonStyle" 
                            onclick="location.href='/addNote'" 
                            type="button">Dodaj Wpis
                    </button>
                    <button th:if="${session.role eq 1}"
                            class="buttonStyle"
                            onclick="location.href='/adminPanel/'"
                            type="button"
                            style="width: 150px">Zarządzanie<br> Użytkownikami
                    </button>
                    <button th:if="${session.role eq 2 or session.role eq 1}"
                            class="buttonStyle"
                            onclick="location.href='/notes/'"
                            type="button"
                            style="width: 150px">Powrót
                    </button>
                </ul>
            </nav>
        </div>
        <div class="editNote">
            <div id="dodajWpis">
                <h2>Edytuj notatkę</h2>
                <form class="editUserForm" method="POST" th:action="@{/editNote/{id}(id=${note.id})}">
                    <input class="inputStyle" type="text" id="title" name="title" th:value="${note.title}" required><br>
                    <textarea class="inputStyle" type="text" id="note" name="note" th:field="${note.note}" required></textarea><br>
                    <input class="inputStyle" type="date" id="remindDate" name="remindDate" th:value="${note.remindDate}"/><br>
                    <select class="inputStyle" style="margin-left: 195px; margin-right: 195px;" name="category_id" id="category_id">
                        <option disabled selected>Kategoria</option>
                        <option th:each="category : ${categories}"
                                th:text="${category.name}"
                                th:value="${category.id}"
                                th:selected="${note.category_id eq category.id}">
                        </option>
                    </select>
                    <input class="buttonStyle" type="submit" value="Zapisz">
                </form>
            </div>
        </div>
        <div class="navDiv"></div>
    </main>
</body>
    <footer>
        <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
    </footer>
</html>
