<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
     <header>

          <div class="mainLogo"><img id="logo" src="/logo.png" /></div>
      
          <div class="mainHeader"><h1>Edit Note</h1></div>
      
          <div class="loginButton"></div>
      
      </header>

     <h1>Edit Note</h1>
          <div class="editForm">
               <form class="editUserForm" method="POST" th:action="@{/editNote/{id}(id=${note.id})}">
                    <label for="title">Title:</label><br>
                    <input class="inputStyle" type="text" id="title" name="title" th:value="${note.title}" /><br>
                    
                    <label for="password">Note:</label><br>
                    <input class="inputStyle" type="text" id="note" name="note" th:value="${note.note}" /><br>

                    <label for="date">Date:</label><br>
                    <input class="inputStyle" type="date" id="date" name="date" th:value="${note.date}" /><br>
                    
                    <button class="buttonStyle" type="submit">Save</button>
               </form>
          </div>
     </body>
</html>
