<!--///wcag ostatni wykład-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="/style.css">

    <script>
        function validateForm() {
            var password = document.getElementById("password").value;
            var pattern = /^(?=.*\d)(?=.*[!@#$%^&*]).*$/;

            if (!pattern.test(password)) {
                // alert("Hasło musi zawierać co najmniej jedną literę, liczbę i znak specjalny!");
                var dispalyNone = document.getElementById("dispalyNone");
                dispalyNone.style.display = "block";
                return false;
            }

            return true;
        }
    </script>

</head>
<body>

<header>

    <div class="mainLogo"><a href="/home"> <img id="logo" src="/logo.png"  alt=""/></a></div>

    <div class="mainHeader"><h1>Home Page</h1></div>

    <div class="loginButton" th:if="${session.isLogged}">
        <form method="GET" th:action="@{/login/logout}">
            <label style="color: #6d6b64" th:text="'Witaj '"> </label>
            <label id="welcomeUsername" th:text="${session.username}"></label>
            <button class="buttonStyle" type="submit">Wyloguj się</button>
        </form>
    </div>

    <div class="loginButton" th:unless="${session.isLogged}">
        <form method="GET" th:action="@{/login/login}">
            <button class="buttonStyle" type="submit">Zaloguj się</button>
        </form>
    </div>

</header>


<main>
    <div  class="navDiv" th:if="${session.isLogged}">
        <nav>
            <h2>Menu</h2>
            <ul>
                <form method="GET" th:action="@{/notes}">
                    <button class="buttonStyle">Twoje wpisy</button>
                </form>
                <button class="buttonStyle" onclick="location.href='/dodaj-wpis'" type="button">Dodaj<br> Wpis</button>
                <button th:if="${session.role} eq 'ADMIN'" 
                    class="buttonStyle" 
                    onclick="location.href='users'" 
                    type="button"
                    style="margin-top: 100px">Zarządzanie<br> Użytkownikami</button>
            </ul>
        </nav>
    </div>

    <!--    Sekcja wyświetlana gdy użytnikowik nie jest zalogowany   -->
    <div id="LoggedOutHome" th:if="${session.isEmpty()}">
        <!--        <img src="logo.png" alt="logo notegods" width="70%"/>-->
        <p>NoteGods pomaga zapisywać i udostępniać różne informacje i materiały.</p>

        <form onsubmit="return validateForm()" action="/login/register">
            <div class="loginForm">
                <div>
                    <label> Login: </label><br>
                    <input class="inputStyle" style="margin-top: 5px; margin-bottom: 15px" type="text" name="username"/><br>
                    <div id="kontoIstnieje"  th:if="${message}" th:text="${message}"></div>
                    <label> Hasło: </label><br>
                    <input class="inputStyle" style="margin-top: 5px" type="password" name="password" id="password"/><br>
                    <p id="dispalyNone">Hasło musi zawierać co najmniej jedną literę, liczbę i znak specjalny!</p>
                </div>

                <input class="buttonStyle" style="margin-top: 15px; margin-left: auto; margin-right: auto;" type="submit" value="Zarejestruj się"/>
            </div>
            <a th:href="@{/login/login}"><p>Posiadasz konto? Kliknij aby się zalogować..</p></a>
        </form>

    </div>

    <div class="wpisy" th:if="${session.isLogged}">
        <div id="najnowszeWpisyHeader" style="display: flex; flex-direction: row; justify-content: space-between;">
        <h2>Najnowsze wpisy</h2>
            <div style="margin-top: 1.5vw;">
                <button class="buttonStyle" onclick="location.href='popular-asc'" type="button">P ⮝</button>
                <button class="buttonStyle" onclick="location.href='popular-desc'" type="button">P ⮟</button>
            </div>
        </div>
        <div th:if="${notesCategory}">
            <article th:each="note : ${notesCategory}">
                <h3 th:text="${note.title}"></h3>
                <p th:text="${note.date}"></p>
                <p th:each="category : ${categories}" th:if="${note.categoryId == category.id}">
                    <span th:text="${category.name}"></span>
                </p>
                <p style="text-align: left;" th:text="${note.note}"></p>
            </article>
        </div>
        <div th:unless="${notesCategory}">
            <article th:each="note : ${notes}">
                <h3 th:text="${note.title}"></h3>
                <p th:text="${note.date}"></p>
                <p th:each="category : ${categories}" th:if="${note.categoryId == category.id}">
                    <span th:text="${category.name}"></span>
                </p>
                <p style="text-align: left;" th:text="${note.note}"></p>
            </article>
        </div>
    </div>

    <div class="navDiv" th:if="${session.isLogged}">
        <aside>
            <h2>Kategorie
            <button class="buttonStyle" onclick="showCategoryForm()">➕</button>
            <div id="categoryForm" style="display: none; align-items: center; text-align: center;">
                <form th:action="@{/addCategory}" method="POST">
                  <label style="font-size: 10px">Nazwa kategorii:</label>
                  <input class="inputStyle" type="text" id="categoryName" name="categoryName" required>
                  <button style="margin-top: 10px;" class="buttonStyle" type="submit">✔️</button>
                </form>
            </div></h2>
            <div th:each="category : ${categories}">
                <form th:action="@{/category/{id}(id=${category.id})}" method="POST">
                    <button class="buttonStyle" style="margin-bottom: 5px;" th:text="${category.name}" type="submit"></button>
                </form>
            </div>
        </aside>
    </div>

    <script th:inline="javascript">
        function showCategoryForm() {
            var categoryForm = document.getElementById('categoryForm');
            categoryForm.style.display = 'block';
        }
    </script>

</main>

    <footer>
        <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
    </footer>
</body>
</html>