<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>

    <div class="mainLogo"><img id="logo" src="logo.png" /></div>
    <div class="mainHeader"><h1>HomePage</h1></div>
    <div class="loginButton"><button>Zaloguj się!</button></div>
</header>

<section>

    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>
    <h2>Ostatnie wpisy</h2>

</section>

<footer>Footer</footer>






















<!--<img src="main.png" width="300" height="100"/>-->

<!--<form style="margin-bottom: 10px" method="GET" action="/test/1">-->
<!--  <button type="submit">1</button>-->
<!--</form>-->
<!--<form style="margin-bottom: 10px" method="GET" action="/test/2">-->
<!--    <button type="submit">2</button>-->
<!--</form>-->
<!--<form style="margin-bottom: 10px" method="GET" action="/test/3">-->
<!--    <button type="submit">3</button>-->
<!--</form>-->
<!--<form method="GET" action="/test/4">-->
<!--    <button type="submit">4</button>-->
<!--</form>-->
</body>
</html>