<!--///wcag ostatni wykład-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>

    <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png"  alt=""/></a></div>

    <div class="mainHeader"><h1>Strona główna</h1></div>

    <div class="loginButton">
        <form method="POST" th:action="@{/logout}">
            <label style="color: #6d6b64" th:text="'Witaj '"> </label>
            <label id="welcomeUsername" th:text="${session.sessionUser}"></label>
            <button class="buttonStyle" type="submit">Wyloguj się</button>
        </form>
    </div>
</header>


<main>
    <div class="navDiv">
        <nav>
            <ul>
                <h2 th:if="${session.role eq 2 or session.role eq 1}">Menu</h2>
                <form method="GET" th:action="@{/notes/}" th:if="${session.role eq 2 or session.role eq 1}">
                    <button style="width: 150px" class="buttonStyle">Twoje wpisy</button>
                </form>
                <form method="GET" th:action="@{/sharedNotes/}">
                    <button style="width: 150px" class="buttonStyle">Udostępnione notatki</button>
                </form>
                <button th:if="${session.role eq 2 or session.role eq 1}" style="width: 150px" class="buttonStyle" onclick="location.href='/addNote'" type="button">Dodaj Wpis</button>
                <button th:if="${session.role eq 1}"
                        class="buttonStyle"
                        onclick="location.href='/adminPanel/'"
                        type="button"
                        style="width: 150px">Zarządzanie<br> Użytkownikami
                </button>
            </ul>
        </nav>
    </div>

    <div class="wpisy">
        <div id="najnowszeWpisyHeader" >
        <h2>Najnowsze wpisy</h2>
            <div style="margin-top: 1.5vw;">
                <button class="buttonStyle" onclick="location.href='/dat-asc'" type="button">D ⮝</button>
                <button class="buttonStyle" onclick="location.href='/dat-desc'" type="button">D ⮟</button>
                <button class="buttonStyle" onclick="location.href='/popular-asc'" type="button">P ⮝</button>
                <button class="buttonStyle" onclick="location.href='/popular-desc'" type="button">P ⮟</button>
            </div>
        </div>
        <div th:if="${notesCategory}">
            <article th:each="note : ${notesCategory}">
                <h3 th:text="${note.title}"></h3>
                <p th:text="${note.date}"></p>
                <p th:each="category : ${categories}" th:if="${note.categoryId == category.id}">
                    <span th:text="${category.name}"></span>
                </p>
                <p style="text-align: left;" th:text="${note.note}"></p>
                <p th:id="'NoteId-'+${note.getId()}" style="color: red; font-size: 1vw;" th:text="'ID: ' + ${note.getId()}"></p>
            </article>
        </div>
        <div th:unless="${notesCategory}">
            <article th:each="note : ${notes}">
                <h3 th:text="${note.title}"></h3>
                <p th:text="${note.date}"></p>
                <p th:each="category : ${categories}" th:if="${note.categoryId == category.id}">
                    <span th:text="${category.name}"></span>
                </p>
                <p style="text-align: left;" th:text="${note.note}"></p>
                <p th:id="'NoteId-'+${note.getId()}" style="color: red; font-size: 1vw;" th:text="'ID: ' + ${note.getId()}"></p>
            </article>
        </div>
    </div>

    <div class="navDiv">
        <aside>
            <h2 style="display: flex;">Kategorie
            <form th:action="@{/addCategory/}" method="POST" th:if="${session.role eq 2 or session.role eq 1}">
                <button class="buttonStyle" style="margin-left: 10px;" type="submit">➕</button>
            </form></h2>
            <form th:action="@{/home/}" method="GET">
                <button class="buttonStyle" style="margin-bottom: 5px; width: 150px; color: rgb(122, 174, 157);" type="submit">Wszystkie</button>
            </form>
            <div th:each="category : ${categories}">
                <form th:action="@{/category/{id}(id=${category.id})}" method="POST">
                    <button class="buttonStyle" style="margin-bottom: 5px; width: 150px;" th:text="${category.name}" type="submit"></button>
                </form>
            </div>
        </aside>
    </div>
</main>
    <footer>
        <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
    </footer>
</body>
</html>
