<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="/style.css">
    <title>Witaj</title>
</head>


<body>
    <header>
        <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png"  alt="Strona glowna Notegoods"/></a></div>
        <div class="mainHeader"><h1 style="font-weight: bold;">Witaj</h1></div>
        <div class="loginButton">
        </div>
    </header>

        <div id="loginContainer">
            <h1>Logowanie</h1>
            <div th:if="${param.error}">
                <div >Niepoprawne dane</div>
            </div>
            <div th:if="${param.logout}">
                <div>Wylogowano</div>
            </div>
            <form method="POST" role="form" th:action="@{/login}">
                    <label>Email</label>
                    <input class="inputStyle" id="username" name="username" placeholder="Wpisz adres Email" type="email">
                    <label>Hasło</label>
                    <input class="inputStyle" id="password" name="password" placeholder="Wpisz hasło" type="password">
                    <button class="buttonStyle"  type="submit">Zaloguj</button>
            </form>
                <p>lub</p>
                <a class="registerOption" th:href="@{/registration}">Zarejestruj</a>

    </div>
</body>
</html>