<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="/style.css">
    <title>Witaj</title>
</head>
<body  style="margin-top: 120px;">
    <header style="padding: 19px">
        <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png"  alt=""/></a></div>
        <div class="mainHeader"><h1 style="font-weight: bold;">Witaj</h1></div>
        <div class="loginButton">
        </div>
    </header>
<div style="margin-top: 20px;">
    <div>
        <div style="text-align: center;">
            <h1 style="font-family: Century Gothic, serif;">Logowanie</h1>
            <div th:if="${param.error}">
                <div style="border-radius: 12px; font-family: Century Gothic, serif;">Niepoprawne dane</div>
            </div>
            <div th:if="${param.logout}">
                <div style="border-radius: 12px; font-family: Century Gothic, serif;">Wylogowano</div>
            </div>
            <form method="POST" role="form" th:action="@{/login}">
                <div>
                    <label style="font-family: Century Gothic, serif;">Email</label>
                    <input class="inputStyle" id="username" name="username" placeholder="Wpisz adres Email" type="email">
                </div>
                <div>
                    <label style="font-family: Century Gothic, serif;">Hasło</label>
                    <input class="inputStyle" id="password" name="password" placeholder="Wpisz hasło" type="password">
                </div>
                <div>
                    <button class="buttonStyle" style="margin-left: 20px" type="submit">Zaloguj</button></br>
                    lub  </br>
                    <a class="link-primary" th:href="@{/registration}">Zarejestruj</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>