<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <title>Rejestracja</title>
</head>
<body>
    <header>
        <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png"  alt="Strona glowna Notegoods"/></a></div>
        <div class="mainHeader"><h1 style="font-weight: bold;">Witaj</h1></div> 
        <div class="loginButton">
        </div>
    </header>
    <div id="loginContainer">
        <form method="POST" role="form" th:action="@{/registration}" th:object="${user}">
            <p class="errorMsg" th:text="${#fields.hasErrors('email')} ? 'Użytkownik istnieje'"></p>
            <p class="errorMsg" th:if="${param.success}">Zarejestrowano</p>
            <h1>Rejestracja</h1>
            <label >Imię</label>
            <input class="inputStyle" id="name" name="name" type="text" placeholder="Twoje imię" required>
            <label >Email</label>
            <input class="inputStyle" id="email" name="email" type="email" placeholder="Twój email" required>
            <label >Hasło</label>
            <input class="inputStyle" id="password" name="password" type="password" placeholder="Twoje hasło" required>
            <button class="buttonStyle" type="submit">Zarejestruj</button>
        </form>
        <p>lub</p>
        <a class="registerOption" th:href="@{/login}">Zaloguj</a>
    </div>
</body>
    <footer>
        <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
    </footer>
</html>