<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shared Note</title>
  <link rel="stylesheet" href="/style.css">
  <intercept-url pattern="/css/style.css" access="permitAll"/>

</head>

<body>
<header>

  <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png"  alt=""/></a></div>

  <div class="mainHeader"><h1>Edit Note</h1></div>

  <div class="loginButton">
    <form method="POST" th:action="@{/logout}">
        <label style="color: #6d6b64" th:text="'Witaj '"> </label>
        <label id="welcomeUsername" th:text="${session.sessionUser}"></label>
        <button class="buttonStyle" type="submit">Wyloguj się</button>
    </form>
  </div>

</header>

<main>

  <div class="navDiv"></div>

  <div class="wpisy">
    <div id="wpisyHeader">
      <h2 style="margin-right: 100px;">Udostępniona notatka</h2>
    </div>
      <div class="shareNote">
        <article>
          <div style="display: flex; align-items: center; justify-content: space-between;">
            <h3 th:text="${note.title}"></h3>
            <ul>
              <form method="GET" th:action="@{/share/{id}(id=${note.id})}">
                <input class="inputStyle" name="userEmail" placeholder="Wpisz email użytkownika"></input>
                <button class="buttonStyle" style="width: 135px; padding: 20px; margin-top: 6px;">Udostępnij</button>
              </form>
            </ul>
          </div>
          <p>
            <span th:text="${category}"></span>
          </p>
          <p th:text="${note.date}"></p>
          <p style="text-align: left;" th:text="${note.note}"></p>

          <!-- <p>Wygenerowany klucz: <span th:text="${shareKey}"></span></p>
          <p>Link do udostępnienia: <a id="shareLink" th:href="@{/shareNoteByKey/{key}(key=${shareKey}, id=${note.id})}" th:text="@{/shareNoteByKey/{key}(key=${shareKey})}"></a></p> -->

        </article>
      </div>
  </div>

  <div class="navDiv"></div>

</main>
  <footer>
    <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
  </footer>
</body>
</html>