<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Udostępnione notatki</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png"  alt=""/></a></div>
    <div class="mainHeader"><h1>Udostępnione notatki</h1></div>
    <div class="loginButton">
        <form method="POST" th:action="@{/logout}">
            <label style="color: #6d6b64" th:text="'Witaj '"> </label>
            <label id="welcomeUsername" th:text="${session.sessionUser}"></label>
            <button class="buttonStyle" type="submit">Wyloguj się</button>
        </form>
    </div>
</header>
<main>
    <nav>
        <ul  th:if="${session.role eq 2 or session.role eq 1}">
            <h2>Menu</h2>
            <button style="width: 150px" class="buttonStyle" onclick="location.href='/addNote'" type="button">Dodaj wpis</button>
            <button th:if="${session.role} eq 1"
                    class="buttonStyle"
                    onclick="location.href='/adminPanel/'"
                    type="button"
                    style="width: 150px">Zarządzanie<br> Użytkownikami
            </button>
        </ul>
    </nav>
    </div>
    
    <div class="wpisy">
          <div id="wpisyHeader">
               <h2 style="margin-right: 100px;">Udostępnione notatki</h2>
          </div>
          <article th:each="note : ${sharedNotes}">
               <h3 th:text="${note.title}"></h3>
               <p th:text="${note.date}"></p>
               <p th:each="category : ${categories}" th:if="${note.categoryId == category.id}">
                   <span th:text="${category.name}"></span>
               </p>
               <p style="text-align: left;" th:text="${note.note}"></p>
               <p></p>
           </article>
     </div>

    <div class="navDiv" th:if="${session.isLogged}">
        <aside>
            <ul>
                <h2 style="display: flex;">Kategorie
                    <form th:action="@{/addCategory/}" method="POST" th:if="${session.role eq 2 or session.role eq 1}">
                        <button class="buttonStyle" style="margin-left: 10px;" type="submit">➕</button>
                    </form></h2>
                    <form th:action="@{/notes/}" method="GET">
                        <button class="buttonStyle" style="margin-bottom: 5px; width: 150px; color: rgb(122, 174, 157);" type="submit">Wszystkie</button>
                    </form>
                <div th:each="category : ${categories}">
                    <form th:action="@{/notesCategory/{id}(id=${category.id})}" method="POST">
                        <button class="buttonStyle" style="margin-bottom: 5px; width: 150px" th:text="${category.name}" type="submit"></button>
                    </form>
                </div>
            </ul>
        </aside>
    </div>

</main>

<footer>
    <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
</footer>