<!--///wcag ostatni wykład-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twoje notatki</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
</head>
<body>

<header>
    <div class="mainLogo"><a href="/home/"> <img id="logo" src="/logo.png"  alt="Strona glowna Notegoods"/></a></div>
    <div class="mainHeader"><h1>Twoje wpisy</h1></div>
    <div class="loginButton">
    <form method="POST" th:action="@{/logout}">
        <p style="color: #6d6b64; padding: 0vw 0.6vw 0vw 0vw;" th:text="'Witaj '"> </p>
        <h2 id="welcomeUsername" style="padding: 0px" th:text="${session.sessionUser}"></h2>
        <button class="buttonStyle" type="submit">Wyloguj się</button>
    </form>
    </div>
</header>

<main>
    <nav>
        <ul>
            <h2>Menu</h2>
            <button style="width: 150px" class="buttonStyle" onclick="location.href='/addNote'" type="button">Dodaj wpis</button>
            <form method="GET" th:action="@{/sharedNotes/}">
                <button style="width: 150px" class="buttonStyle">Udostępnione wpisy</button>
            </form>
            <button th:if="${session.role} eq 1"
                    class="buttonStyle"
                    onclick="location.href='/adminPanel/'"
                    type="button"
                    style="width: 150px">Zarządzanie użytkownikami
            </button>
            <button th:if="${session.role eq 2 or session.role eq 1}"
                    class="buttonStyle"
                    onclick="location.href='/home/'"
                    type="button"
                    style="width: 150px">Strona główna
            </button>
        </ul>
    </nav>

    <div class="wpisy">
        <div id="wpisyHeader">
             <h2 style="margin-right: 100px;">Twoje wpisy</h2>
             <div>
                <button class="buttonStyle" onclick="location.href='/title-asc'" type="button">T ⮝</button>
                <button class="buttonStyle" onclick="location.href='/title-desc'" type="button">T ⮟</button>
                <button class="buttonStyle" onclick="location.href='/category-asc'" type="button">K ⮝</button>
                <button class="buttonStyle" onclick="location.href='/category-desc'" type="button">K ⮟</button>
                <button class="buttonStyle" onclick="location.href='/date-asc'" type="button">D ⮝</button>
                <button class="buttonStyle" onclick="location.href='/date-desc'" type="button">D ⮟</button>
             </div>
        </div>

        <div th:if="${notesCategory}">
            <article th:each="note : ${notesCategory}">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <h3 th:text="${note.title}"></h3>
                    <ul>
                        <button class="buttonStyle"
                                style="padding: 15px; flex-direction: column; display: flex; margin-bottom: 10px;"
                                th:onclick="'window.location.href=\'' + @{/editNote/{id}(id=${note.id})} + '\''">✒️</button>
                        <button class="buttonStyle"
                                style="padding: 15px; flex-direction: column; display: flex;"
                                th:onclick="'window.location.href=\'' + @{/noteDelete/{id}(id=${note.id})} + '\''">❌</button>
                        <button class="buttonStyle"
                                style="padding: 15px; flex-direction: column; display: flex;"
                                th:onclick="'window.location.href=\'' + @{/sharedNote/{id}(id=${note.id})} + '\''">🔗</button>
                    </ul>
                </div>
                <p th:each="category : ${categories}" th:if="${note.category_id == category.id}">
                    <span th:text="${category.name}"></span>
                </p>
                <p th:text="${note.date}"></p>
                <p th:text="'Przypomnienie: ' + ${note.remind_date}"></p>
                <p style="text-align: left;" th:text="${note.note}"></p>
          </article>
        </div>
        <div th:unless="${notesCategory}">
            <article th:each="note : ${notes}">
                <div style="display: flex; align-items: center; justify-content: space-between;">
                    <h3 th:text="${note.title}"></h3>
                    <ul>
                        <button class="buttonStyle"
                                style="padding: 15px; flex-direction: column; display: flex; margin-bottom: 10px;"
                                th:onclick="'window.location.href=\'' + @{/editNote/{id}(id=${note.id})} + '\''">✒️</button>
                        <button class="buttonStyle"
                                style="padding: 15px; flex-direction: column; display: flex;"
                                th:onclick="'window.location.href=\'' + @{/noteDelete/{id}(id=${note.id})} + '\''">❌</button>
                        <button class="buttonStyle"
                                style="padding: 15px; flex-direction: column; display: flex;"
                                th:onclick="'window.location.href=\'' + @{/sharedNote/{id}(id=${note.id})} + '\''">🔗</button>
                    </ul>
                </div>
                <p th:each="category : ${categories}" th:if="${note.category_id == category.id}">
                    <span th:text="${category.name}"></span>
                </p>
                <p th:text="${note.date}"></p>
                <p th:text="'Przypomnienie: ' + ${note.remind_date}"></p>
                <p style="text-align: left;" th:text="${note.note}"></p>
          </article>
        </div>
     </div>

    <div class="navDiv" th:if="${session.isLogged}">
        <aside>
            <ul>
                <h2 style="display: flex;">Kategorie
                <form th:action="@{/addCategory/}" method="POST" th:if="${session.role eq 2 or session.role eq 1}">
                    <button class="buttonStyle" style="margin-left: 10px;" type="submit">➕</button>
                </form></h2>
                <form th:action="@{/notes/}" method="GET">
                    <button class="buttonStyle" style="margin-bottom: 5px; width: 150px; color: rgb(122, 174, 157);" type="submit">Wszystkie</button>
                </form>
                <div th:each="category : ${categories}">
                <form th:action="@{/notesCategory/{id}(id=${category.id})}" method="POST">
                    <button class="buttonStyle" style="margin-bottom: 5px; width: 150px" th:text="${category.name}" type="submit"></button>
                </form>
                </div>
            </ul>
        </aside>
    </div>

</main>

<footer>
    <p><b>Autorzy: </b> Adam Grzeszczuk, Dawid Kobeszko, Łukasz Kaliszewicz, Zuzanna Kalinowska &#9935</p>
</footer>
</body>
